*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-section{
    background-color: gray;
    width: 100%;
    height: 100vh;
}

.todo-container{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}
.input-label{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
}
.add-btn{
    border: none;
    outline: none;
    width: 80px;
    height: 30px;
    padding: 6px 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
    box-shadow: 1px solid bisque;
    text-align: center;
}
.add-btn:hover{
    background-color: aqua;
    color: black;
    transition: 0.3s ease-in-out;
}

.input-data{
    display: block;
    padding: 10px 16px;
    margin: 10px 0px;
    width: 300px;
    height: 40px;
    border: none;
}

#show-lists li{
    padding: 10px 0px;
    text-decoration: none;
    list-style: none;
}

.delete-btn{
    margin-left: 100px;
    width: 40px;
    height: 20px;
    padding: 5px 8px;
    background-color: rgb(252, 74, 74);
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: green;
    text-align: center;
    color: black;
}